[submodule "narvie"]
	path = tools/narvie
	url = ../../physical-computation/narvie.git
[submodule "sunflower"]
	path = tools/sunflower
	url = ../../physical-computation/sunflower-simulator.git
[submodule "verilog/hardware/processor/sail-core"]
	path = verilog/hardware/processor/sail-core
	url = ../../physical-computation/Sail-RV32I-common
[submodule "tools/srec2hex"]
	path = tools/srec2hex
	url = ../../physical-computation/srec2hex.git
[submodule "yosys"]
	path = tools/yosys
	url = ../../YosysHQ/yosys.git
[submodule "nextpnr"]
	path = tools/nextpnr
	url = ../../YosysHQ/nextpnr.git
[submodule "tools/arachnepnr"]
	path = tools/arachnepnr
	url = ../../YosysHQ/arachne-pnr.git
[submodule "icestorm"]
	path = tools/icestorm
	url = ../../cliffordwolf/icestorm.git
